@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Varela+Round&display=swap');
:root{
  --cinzatransparente: rgba(88, 88, 88, 0.63);
  --cinzaclaro: #626262;
  --branco: #fff;
  --brancotransparente: rgba(255, 255, 255, 0.548);
  --preto: #000;
  --fontnunito: "Nunito";
  --fontvarela: "Varela Round";
  --azulcinzado: #6e92a4;
  --branco10: #ffffff0f;
}
*{
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
header, .titulo, #quemsomos, #produtos, .colprodut, #contato{
  overflow: hidden;
}
a{
  text-decoration: none;
  color: var(--branco);
}
header{
  z-index: 100;
  width: 100%;
  position: fixed;
  top: 0;
  color: var(--branco);
  font-family: var(--fontnunito);
  padding: 20px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cinzatransparente);
}
header h2{
  position: relative;
}
header h2::before{
  display: inline-block;
  border-bottom: 5px dotted var(--cinzaclaro);
  bottom: -5px;
  position: absolute;
  content: "";
  width: 0;
  animation: animalogo 4s ease forwards ;
}
header div div{
  display: none;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid var(--branco);
  padding: 5px 10px;
}
header nav ul{
  list-style-type: none;
}
header nav ul li{
  display: inline-block;
}
header nav ul li a{
  position: relative;
  background-color: var(--cinzaclaro);
  color: var(--branco);
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
}
header nav ul li a:hover::after, header nav ul li a:active::after{
  opacity: 0.5;
  position: absolute;
  left: 0;
  top:0;
  height: 100%;
  border-bottom: 2px solid var(--branco);
  position: absolute;
  content: "";
  width: 0%;
  border-radius: 5px;
  background-color: var(--cinzatransparente);
  animation: animadiv 0.8s ease forwards ;
}
.titulo{
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 600px;
  background: url(../img/camera-fotografica-historia-origem-evolucao-e-como-funciona.jpg) center/cover no-repeat scroll;
  filter: grayscale(0%);
}
.titulo::after{
  content: "";
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 200px;
  background: linear-gradient(0deg, var(--preto) 30%,  transparent 70%);
}
.titulo h2{
  position: relative;
  padding: 0 18px;
  font: bolder 80px var(--fontvarela);
  background: var(--cinzaclaro) url(../img/monophy.gif) 100%/cover no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--cinzatransparente);
}
.titulo h2::after{
  left: 0;
  top:0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--brancotransparente);
}
.titulo p{
  padding: 0 10px;
  font: 500 40px var(--fontnunito) ;
  color: var(--branco);
}
#quemsomos{
  position: relative;
  height: 600px;
  background:;
  font: 15px var(--fontnunito);
  color: var(--branco);
  background: var(--preto) url(../img/3-quadros-sao-paulo-preto-branco-cidade-copan.jpg) bottom/cover fixed ;
}
#quemsomos h2{
  margin: 75px 20px 10px 20px;
  z-index: 2;
  padding: 30px 0 30px 0;
  background-color: var(--cinzaclaro);
}
#quemsomos p{
  padding: 20px 40px;
  text-align: left;
  columns: 0 3;
  column-gap: 50px;
  column-rule: 2px solid var(--branco);
}
#quemsomos div{
  z-index: 1;
  background: linear-gradient(180deg, var(--preto) 70%,  transparent);
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
#quemsomos div p::first-letter {
  display: flex;
  color: var(--cinzaclaro);
  padding: 0 5px 0 20px;
  font-size: 30px;
  font-weight: bolder;
}
#produtos div{
  align-items: center;
  display: flex;
  padding: 100px 0;
  width: 80%;
  margin: auto;
  flex-flow: row wrap;
}
#produtos div section{
  padding: 0 20px;
  text-align: center;
  font-family: var(--fontnunito);
  border-left: 10px solid var(--azulcinzado);
}
#produtos div img, #produtos div section{
  flex: 50%;
  max-width: 50%;
}
#produtos div section h2{
  padding: 0 0 20px 0;
}
.colprodut{
  background-color: var(--preto);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.itemcolprodut{
  text-align: center;
  color: var(--branco);
  width: 50%;
  flex: 50%;
  padding: 15px;
  margin: 0;
  font-family: var(--fontnunito);
}
.itemcolprodut img{
  width: 100%;
}
footer{
  color: var(--branco);
  font-family: var(--fontnunito);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background: linear-gradient(0deg,var(--preto)22%, var(--cinzatransparente)),url(../img/city.jpg) center/cover no-repeat fixed;
  padding: 100px 0 0 0px;
}
footer i{
  padding: 50px 0;
  font-size: 50px;
}
footer form{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0;
}
footer form h2{
  padding: 0 0 30px 0;
}
footer form input{
  font-size: 20px;
  background-color: var(--brancotransparente);
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 20px;
  transition: .5s ease;
}
footer form input[type="email"]{
  margin-bottom: 10px;
  width: 500px;
}
footer form input[type="button"]{
  margin-bottom: 10px;
  width: 150px;
}
footer form input:hover, footer form input:active{
  background-color: var(--branco);

}
footer form input[type="button"]:active{
background-color: var(--azulcinzado);
}
.itemfooter{
  width: 100%;
  padding: 50px 50px;
  background-color: var(--branco10);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.itemfooter iframe{
  width: 50%;
  height: 400px;
}
.contato{
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  justify-content: center;
}
.contato div{
  cursor: pointer;
  border-left: 5px solid var(--azulcinzado);
  margin: 5px;
  padding: 10px;
  text-align: center;
  flex: 50%;
  max-width: calc(50% - 20px);
  background-color: var(--cinzatransparente);
  transition: .5s ease;
}
.contato div h2{
  font-weight: 300;
  font-size: 20px;
}
.contato div:hover{
  background-color: var(--cinzaclaro);
  border-left: 5px solid var(--branco);
}
.contato div:hover i{
  color: var(--azulcinzado);
}

.contato div i, .contato div h2, .contato div p{
  transition: .5s ease;
  padding: 10px 0
}
.icons i{
  padding: 10px 20px 50px 20px;
  font-size: 35px;
}
.icons a:hover{
  color: var(--azulcinzado);
}
@keyframes animalogo {
  0%{width:0;}
  100%{width: 182px;}
}
@keyframes animadiv {
  0%{width: 0;}
  100%{width: 100%;}
}
@media screen and (max-width:600px) {
 header{
   align-items: flex-start;
   flex-flow: row nowrap;
 }
 header h2{
   margin-bottom: 30px;
 }
 header div{
   position: relative;
 }
 header div div{
   right: 5px;
   position: absolute;
   display: inline-block;
 }
 header nav div #menu{
   border-radius: 5px;
   background-color: var(--brancotransparente);
   padding: 10px;
   display: none;
   width: 200px;
   top:60px;
   right: 10px;
   position: fixed;
 }
 #mudaico{
  transition: .5s ease;
 }
 header nav div #menu li,
 header nav div #menu li a{
   margin-top: 5px;
   display: block;
   width: 100%;
 }
 .titulo{
  justify-content: flex-end;
 }
 .titulo h2{
   -webkit-text-fill-color: var(--branco);
   z-index: 2;
   background: transparent;
   align-self:flex-end;
 }
 .titulo p{
   color: var(--brancotransparente);
   font-size: 30px;
   padding: 10px;
   z-index: 1;
 }
 .titulo::after{
   height: 100%;
  background: linear-gradient(0deg, var(--preto) 10%, var(--brancotransparente) 100%); 
 }
  .titulo h2::after{
    display: none;
  }
  #quemsomos{
    height: 900px;
  }
  #quemsomos div{
    padding: 50px 10px; 
  }
  #quemsomos h2{
    padding: 30px;
  }
  #quemsomos p{
    text-align: justify;
    padding: 10px;
    column-count: 1;
  }
  #produtos div img, #produtos div section{
    flex: 100%;
    max-width: 100%;
    padding: 50px 0;
    border: none;
  }
  .colprodut{
    padding: 60px 0;
    background-color: var(--preto);
    display: flex;
    flex-flow: column wrap;
  }
  .itemcolprodut{
    flex: 100%;
    width: 100%;
  }
  .itemcolprodut:nth-of-type(3){
    order: 4
  }
  .itemcolprodut:nth-of-type(4){
    order: 3
  }
  footer form{
    padding: 0 20px;
  }
  footer form input[type="email"], footer form input[type="button"]{
    width: 100%;
  }
  footer, .itemfooter, .contato{
    align-items: center;
    flex-flow: column wrap;
  }
  .itemfooter{
    margin: 50px 0 0 0;
    padding: 50px 0;
  }
  .itemfooter iframe, .contato{
    margin: 5px 0;
    width: 100%;
  }
  .contato div{
    margin: 5px 0;
    flex: 100%;
    max-width: 100%;
    width: 100%;
  }
}